.btn1
{
color: gold;
font-size: medium;
font-weight: bold;
font-style: italic;
display: inline-block;
}
.btn2
{
color: gold;
font-size: medium;
font-weight: bold;
font-style: italic;
display: inline-block;
}
